* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section {
    background-color: lightgreen;
    transition: all 300ms ease;
}

#landing-page {
    height: 100vh;
    width: 100vw;
}

.container {
    padding: 20px 10px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    margin: 0 auto;
    background-color: rgb(80, 198, 219);
    position: relative;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    max-width: 100vw;
}

ul {
    text-decoration: none;
    list-style: none;
}


figure:hover {
    transform: scale(1.15);
    transition: all 300ms ease;
}

.header__links {
    display: flex;
}

.header__link {
    padding: 0 6px;
}



button {
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    margin-left: 12px;
    padding: 0;
    background-color: rgb(139, 139, 210);
    
}

.click {
    cursor: pointer;
}

.conquerors {
    margin: 0;
}

.menu__backdrop {
    position: absolute;
    background-color: lightgoldenrodyellow;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* we will replace display none with smth else so we can aniimate it form display none to display flex */
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}



.menu__close {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 4px 6px;
}

.open--menu .menu__backdrop  {
    visibility: visible;
    opacity: 1;
    /* z-index: 100; */

}

.dark-mode section {
    background: black;
    transition: all 300ms ease;
}

.dark-mode h2,
.dark-mode button,
.dark-mode .header__link {
    color: white;
}

.dark-mode .container {
    background-color: navy;
}

.dark-mode button {
    background-color: purple;
}

/* MODAL */

.modal {
    background-color: lightseagreen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    border-radius: 20px;
    overflow: hidden; 
    transition: visibility 1s, opacity 1s, transform 1s;

}

.modalOpen .modal {
    visibility: visible;
    opacity: 1;
    width: 80%;
    height: 700px;
    z-index: 10;
}

.modalOpen .container {
    visibility: hidden;
    opacity: 0;
}

.modal__half {
    display: flex;
    padding: 24px;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    color: white;
    text-align: center;
    flex-direction: column;
    transition: all 300ms ease-in;   
}

.haki__list {
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-wrap: wrap;
}

figure {
    width: 10%;
    height: 50%;
    margin: 0 20px;
}

img {
    width: 100%;
}
.haki__caption {
    max-width: 100%;
    background-color: antiquewhite;
    font-size: 10px;
}


.haki__type {
    overflow: visible;
}




.modal__left {
    background-color: #4FFFB0;
}

.highlight {
    color: black;
}

.exit {
    position: absolute;
    top: 12px;
    right: 12px;
}

.modal__text {
    /* width: 80%; */
    padding: 50px 50px;
}



.modalOpen header {
    visibility: hidden;
    opacity: 0;
}

.modalOpen .modal__left {
    /* when the modal is open, we transform  */
    transform: translateX(0%);
}

.modal .modal__left {
    /* other styles here */
}

.modal__left {
    transform: translateX(-110%);
    color: violet;
}

.modal__right {
    transform: translateX(110%);
}

.modalOpen .modal__right {
    transform: translateX(0%);
}



.dark-mode {
    background: black; 
    transition: all 300ms ease;
}

#second {
    background-color: bisque;
}